@import "src/styles/mixins.scss";

.section {
    position: relative;
    width: 100%;
    touch-action: pan-y;
    --gap: 1rem;

    .sectionTitle {
        font-size: 1.1rem;
        font-weight: 600;
        --paddingBot: calc(var(--gap) * 0.5);
        margin-top: var(--sortHeight);
        padding: var(--paddingBot) var(--gap);
        position: sticky;
        top: 0;
        background-color: var(--backgroundDark);
        z-index: 1;
        color: var(--purple);
        touch-action: pan-y;

        &.first {
            margin-top: 0;

            @include for-desktop {
                margin-top: var(--sortHeight);
            }
        }

        @include light {
            background-color: var(--backgroundLight);
        }

        @include dark {
            background-color: var(--backgroundDark);
        }
    }

    .authors {
        position: relative;
        width: 100%;
        display: grid;
        gap: var(--gap);
        touch-action: pan-y;
        grid-template-columns: repeat(auto-fill, minmax(min(15rem, 40vw), 1fr));
        overflow: visible;
        padding: 0 var(--gap);

        @include for-mouse {
            margin: 1rem 0;
        }

        .emptyMessage {
            position: relative;
            width: 100%;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0.4;
            pointer-events: none;
            text-align: center;
        }
    }
}
