@import "src/styles/mixins.scss";
@import "src/styles/shared.scss";

.finishedBook {
    position: relative;
    width: 100%;
    touch-action: pan-y;
    pointer-events: all;

    @include for-mouse {
        transform: scale(1);
        cursor: pointer;

        &:hover {
            transform: scale(1.03);
            opacity: 1;
        }
    }

    .cover {
        position: relative;
        width: 100%;
        aspect-ratio: 0.65;
        overflow: hidden;
        border-radius: 0.75rem;
        pointer-events: none;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
