.rating {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    touch-action: none;

    .star {
        pointer-events: none;
        transition: opacity 0.1s ease-in-out;
        height: 100%;
        color: var(--purple);
        opacity: 0.2;
        padding: 20%;

        &.active {
            opacity: 1;
        }
    }
}
