@import "src/styles/mixins.scss";
@import "src/styles/shared.scss";

.book,
.author {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100% - var(--navigation-height));
    max-height: calc(100% - var(--navigation-height));
    width: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: pan-y;

    @include for-desktop {
        top: unset;
        bottom: 0;
    }

    .error {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .message {
            color: var(--red);
            margin-bottom: 1rem;
            font-size: 1.1rem;
            font-weight: 600;
        }

        .button {
            @include button-text-low;

            svg {
                height: 2rem;
                width: 2rem;
            }

            p {
                margin-left: 0.3rem;
                font-weight: 600;
            }
        }
    }

    .coverContainer {
        pointer-events: none;
        width: 65%;
        max-width: 20rem;
        margin-bottom: calc(var(--marginBot) * 0.5);
        margin-top: 1rem;
    }

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        opacity: 0.5;
        padding: 0 1rem;
        font-size: 0.85rem;
        text-align: center;
        touch-action: pan-y;

        p {
            pointer-events: none;
            position: relative;
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            margin-bottom: var(--marginBot);
            text-overflow: ellipsis;
            white-space: nowrap;

            &:first-child {
                margin-bottom: 0.5rem;
            }
        }
    }

    .title {
        pointer-events: none;
        position: relative;
        width: 100%;
        max-width: 100%;
        margin-bottom: calc(var(--marginBot) * 0.4);
        padding: 0 1rem;
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
    }

    .subtitle {
        width: fit-content;
        max-width: 100%;
        opacity: 0.5;
        margin-bottom: var(--marginBot);
        padding: 0 1rem;
        text-align: center;
        touch-action: pan-y;

        @include for-mouse {
            cursor: pointer;
            opacity: 0.5;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .addReread {
        width: fit-content;
        margin-bottom: var(--marginBot);
        @include button-text-low;

        &.disabled {
            pointer-events: none;
        }

        svg {
            height: 1.5rem;
            width: 1.5rem;
        }

        p {
            margin-left: 0.3rem;
            font-weight: 600;
        }
    }

    .rating {
        position: relative;
        height: var(--button-height);
        margin-bottom: var(--marginBot);
    }

    .description {
        --lineHeight: 1.3rem;
        pointer-events: none;
        height: calc(6 * var(--lineHeight));
        max-height: calc(6 * var(--lineHeight));
        min-height: calc(6 * var(--lineHeight));
        width: 100%;
        max-width: 50rem;
        overflow: hidden;
        opacity: 0.8;
        padding: 0 1rem;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: var(--lineHeight);

        p {
            margin-bottom: calc(var(--marginBot) * 0.5);
        }

        &.expanded {
            height: unset;
            max-height: unset;
            min-height: unset;
            overflow: unset;
        }
    }

    .viewMoreContainer {
        width: 100%;
        margin-bottom: calc(var(--marginBot) * 2);
        max-width: 50rem;
        display: flex;
        justify-content: flex-end;

        .viewMore {
            color: var(--purple);
            padding: 0.5rem 1rem;
            width: fit-content;

            @include for-mouse {
                cursor: pointer;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .goodReadsButton {
        opacity: 0.3;
        margin-bottom: calc(var(--marginBot) * 2);
        touch-action: pan-y;
        @include button-text-low;

        @include for-mouse {
            cursor: pointer;

            &:hover {
                opacity: 0.5 !important;
            }
        }

        svg {
            height: 2rem;
            width: 2rem;
        }

        p {
            margin-left: 0.3rem;
            font-weight: 600;
        }
    }

    .authorPreview {
        width: fit-content;
        margin-bottom: calc(var(--marginBot) * 2);

        @include for-mouse {
            transform: scale(1);
            cursor: pointer;

            &:hover {
                transform: scale(1.03);
                opacity: 1;
            }
        }

        img {
            pointer-events: none;
            height: 10rem;
            width: 10rem;
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
            object-fit: cover;
            margin-bottom: calc(var(--marginBot) * 0.5);
            border-radius: 100vw;
        }

        p {
            pointer-events: none;
            max-width: 15rem;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
        }
    }

    .margin {
        pointer-events: none;
        width: 100%;
        margin-bottom: calc(var(--marginBot) * 2);
    }

    .rowContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        margin-bottom: var(--marginBot);
    }
}

.nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--navigation-height);
    width: 100%;
    bottom: 0;
    left: 0;

    @include for-desktop {
        top: 0;
        bottom: unset;
    }

    .buttons {
        position: relative;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        width: 100%;
        max-width: 20rem;

        .container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;

            .navButton {
                height: 100%;
                width: fit-content;
                @include button-text-low;

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                }

                p {
                    margin-left: 0.3rem;
                    font-weight: 600;
                }
            }
        }
    }
}
