@import "src/styles/mixins.scss";
@import "src/styles/shared.scss";

.finished {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - var(--navigation-height));
    max-height: calc(100% - var(--navigation-height));
    width: 100%;
    top: 0;
    left: 0;

    @include for-desktop {
        top: unset;
        bottom: 0;
    }

    .sortGrid {
        position: relative;
        height: var(--sortHeight);
        width: 100%;
        max-width: 25rem;
        display: grid;
        gap: 0.5rem;
        justify-content: center;
        grid-template-columns: 3rem 1fr 1fr 1fr 1fr 3rem;
        padding: 0.5rem;

        &.absolute {
            position: absolute;
            top: 0;
            width: 100%;
            max-width: 25rem;

            .border {
                border: 1px solid var(--purple);
                border-radius: 0.5rem;
                grid-column-start: 2;
                grid-column-end: 6;
                grid-row-start: 1;
                grid-row-end: 1;
            }
        }

        .sort {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 0.9rem;
            opacity: 0.4;

            &.current {
                color: var(--purple);
                opacity: 1 !important;
            }

            @include for-mouse {
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .direction {
            opacity: 0.6;
            transition: transform 0.2s ease-in-out;
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(0deg);

            &.asc {
                transform: rotate(180deg);
            }

            svg {
                width: 1.7rem;
                height: 1.7rem;
            }

            @include for-mouse {
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .groups {
            opacity: 0.6;
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 1.3rem;
                height: 1.3rem;
            }

            @include for-mouse {
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .content {
        position: relative;
        width: 100%;
        height: calc(100% - var(--sortHeight));
        overflow-y: auto;
        touch-action: pan-y;
        padding-bottom: calc(var(--marginBot) * 2);
    }
}
