@import "src/styles/mixins.scss";
@import "src/styles/shared.scss";

.new {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        svg {
            height: 2rem;
            width: 2rem;
        }

        p {
            margin-left: 0.3rem;
            font-weight: 600;
        }

        .buttonText {
            margin: 1rem 0;
            @include button-text;
        }

        .button {
            margin: 1rem 0;
            @include button;

            &.disabled {
                pointer-events: none;

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }

            .load {
                @include spin;
            }
        }

        form {
            width: 90%;
            max-width: var(--max-form-width);

            input {
                height: var(--button-height);
                width: 100%;
                background-color: white;
                margin-top: 1rem;
                border-radius: 0.3rem;
                padding: 0.5rem 1rem;

                &::placeholder {
                    opacity: 0.5;
                }
            }
        }

        .error {
            transition: opacity 0.2s ease-in-out;
            color: var(--red);
            opacity: 0;
            margin: 1rem 0;

            &.visible {
                opacity: 1;
            }
        }

        .back {
            position: absolute;
            height: var(--navigation-height) !important;
            bottom: 0;
            @include button-text-low;

            @include for-desktop {
                position: relative;
            }
        }
    }
}
