@import "src/styles/mixins.scss";
@import "src/styles/shared.scss";

.new {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    svg {
        height: 2rem;
        width: 2rem;
    }

    p {
        margin-left: 0.3rem;
        font-weight: 600;
    }

    .text {
        font-weight: unset;
    }

    .buttonText {
        margin: 1rem 0;
        @include button-text;
    }

    form {
        width: 90%;
        max-width: var(--max-form-width);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            margin-top: 1rem;
            @include input;
        }

        .button {
            margin: 1rem 0;
            @include button;
            width: 45%;
            max-width: calc(var(--max-form-width) * 0.5) !important;

            &.loading {
                pointer-events: none;

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }

            .load {
                @include spin;
            }
        }
    }

    .error {
        transition: opacity 0.2s ease-in-out;
        color: var(--red);
        opacity: 0;
        margin: 0.5rem 0;

        &.visible {
            opacity: 1;
        }
    }

    .success {
        transition: opacity 0.2s ease-in-out;
        color: var(--purple);
        opacity: 0;
        margin: 0.5rem 0;

        &.visible {
            opacity: 1;
        }
    }

    .back {
        position: absolute;
        bottom: 0;
        @include button-text-low;
        height: var(--navigation-height);

        @include for-desktop {
            position: relative;
        }
    }
}
