@import "src/styles/mixins.scss";
@import "src/styles/shared.scss";

.settings {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - var(--navigation-height));
    max-height: calc(100% - var(--navigation-height));
    width: 100%;
    top: 0;
    left: 0;

    &.disable {
        pointer-events: none;
    }

    @include for-desktop {
        top: unset;
        bottom: 0;
    }

    .user {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        max-width: 20rem;
        margin-bottom: calc(var(--marginBot) * 2);

        .profilePicture {
            position: relative;
            width: 8rem;
            height: 8rem;
            border-radius: 100vw;
            overflow: hidden;
            pointer-events: none;
            background-color: #292929;
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
            margin-bottom: calc(var(--marginBot) * 0.5);

            @include dark {
                background-color: #292929;
            }

            @include light {
                background-color: #d7d7d7;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            p {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                opacity: 0.7;
                padding-top: 0.2rem;
            }
        }

        .name {
            font-weight: 600;
            font-size: 1.1rem;
            margin-bottom: 0.2rem;
        }

        .email {
            font-size: 0.8rem;
            opacity: 0.4;
        }
    }

    .button {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 3rem;
        width: 95%;
        max-width: 20rem;
        margin-bottom: calc(var(--marginBot) * 0.5);
        padding: 0 1.6rem;
        font-weight: 600;
        border: 1px solid var(--purple);
        border-radius: var(--borderRadius);
        overflow: hidden;

        &:first-child {
            margin-bottom: var(--marginBot);
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--purple);
            opacity: 0.7;
        }

        p {
            z-index: 1;
        }

        @include for-mouse {
            opacity: 0.7;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }

    .subtitle {
        font-size: 0.8rem;
        opacity: 0.5;
        width: 85%;
        max-width: 15rem;
        text-align: center;
        padding-bottom: 0.5rem;
    }
}
