@mixin input {
    height: var(--button-height);
    width: 100%;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: var(--borderRadius);
    color: var(--textDark);
    background-color: transparent;

    &::placeholder {
        opacity: 0.7;
    }

    @include light {
        border: 1px solid rgba(0, 0, 0, 0.3);
        color: var(--textLight);

        &::placeholder {
            opacity: 0.5;
        }
    }

    @include dark {
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: var(--textDark);

        &::placeholder {
            opacity: 0.7;
        }
    }
}

@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--button-height);
    width: 100%;
    background-color: transparent;
    color: var(--purple);
    font-weight: 600;
    border: 1px solid var(--purple);
    border-radius: var(--borderRadius);

    @include for-mouse {
        opacity: 0.9;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

@mixin button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--button-height);
    color: var(--purple);
    padding: 0 1rem;

    @include for-mouse {
        opacity: 0.9;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

@mixin button-text-low() {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--button-height);
    color: var(--textDark);
    padding: 0 1rem;
    opacity: 0.7;

    @include light {
        color: var(--textLight);
    }

    @include dark {
        color: var(--textDark);
    }

    @include for-mouse {
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

@mixin spin {
    animation: spin 1.5s ease-in-out infinite;

    @keyframes spin {
        0% {
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transform: rotate(0);
        }
        50% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
